main {
    font-size: 18px;

    .header {
        // background-color: yellow;
        display: flex;
        width: 100%;
        justify-content: space-between;
        // justify-content: center;
        align-items: center;

        .title {
            // width: 20%;
            // display: flex;
            // justify-content: end;

            span {
                font-size: 32px;
                font-weight: 500;
                color: #2B5ECE;


            }
        }

        .bttn-box {
            width: 30%;
            // background-color: green;
            display: flex;
            justify-content: end;

            button {
                margin-left: 10px;
                border-radius: 0.5rem;
                border: 1px solid #D5D4D4;
                height: 42px;
                padding: 0px 20px;
                font-weight: 500;
            }

            .cancel {
                background-color: crimson;
                color: white;
                border: 1px solid crimson;

            }

            .create {
                color: white;
                background-color: #2B5ECE;
                border: 1px solid #2B5ECE;
            }
        }
    }

    .container-box {
        font-size: 18px;

        .upload-foto-container-box {
            display: flex;
            align-items: center;
            gap: 5rem;
            padding: 30px 10px;
            // border-bottom: 2px solid #dddddd;
            margin-block: 1rem;
            background: white;
            border-radius: 5px;
            box-shadow: 1px 1px 6px 0px #cccccc;
        
            .upload-foto {
                width: 10rem;
                height: 10rem;
                //   background-color: var(--light);
                background-color: gray;

                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-direction: column;
                border-radius: 50%;
                border: var(--border);
                box-shadow: var(--box-shadow-primary);

                .logo {
                    // width: 100%;
                    // background-size: cover;
                    width: 10rem;
                    height: 10rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }

                input {
                    display: none;
                }
            }

            .description {
                .main-heading {
                    font-size: 18px;
                    margin-bottom: 0px;
                }

                .sub-heading {
                    font-size: 18px;
                    color: var(--font-muted);
                }
            }

            .browse {
                border-radius: 0.5rem;
                border: 1px solid #0AA252;
                height: 42px;
                background-color: #0AA252;
                color: white;
                padding: 0px 10px;
            }
        }


        // height: calc(100% - 8rem);
        form {

            // display: flex;
            // flex-flow: row wrap;
            // flex-wrap: 1fr 1fr 1fr;
            // gap: 1.5rem;
            .input-boxes {
                // display: flex;
                // gap: 3rem;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                background: white;
                margin-bottom: 10px;
                box-shadow: 1px 1px 6px 0px #cccccc;
                border-radius: 5px;

                padding: 10px;
                padding-bottom: 30px;
                gap: 30px;

                .address {
                    display: block;
                    grid-row: span 2;

                    .address-input {
                        height: 100%;
                        padding: 0.8rem;
                        border: 1px solid #D5D4D4;
                        width: 100%;
                        border-radius: 0.5rem;
                        letter-spacing: 1px;
                    }
                }

                .groups{
                    .category{
                        .group{
                            width: 100%;
                            
                        }
                    }
                }

                .inputbox {
                    color: #6e6e6e;
                    display: flex;
                    flex-direction: column;
                    // width: 30%;

                    label {
                        font-size: 18px;
                        margin-bottom: 0.5rem;
                    }
                }

                ::placeholder {
                    color: #aaa9a9;
                }

            }
        }
    }
}

input {
    padding: 0.8rem;
    border: 1px solid #D5D4D4;
    width: 100%;
    border-radius: 0.5rem;
    letter-spacing: 1px;
    height: 42px;
    // background-color: var(--light);
    // box-shadow: var(--box-shadow-primary);
}

sup {
    color: crimson;
}

::ng-deep .ngx-dropdown-container[_ngcontent-ng-c3547108007] .ngx-dropdown-button[_ngcontent-ng-c3547108007] {
    height: 42px !important;
}


::ng-deep .ng-select-container {
    height: 42px !important;
    border: 1px solid #D5D4D4 !important;

}

.error-data {
    color: crimson;
    margin-top: 5px;
    font-size: 15px;
}

// .custom-datepicker .mat-datepicker-content {
//     position: absolute;
//     top: auto !important; /* Prevent override from bottom */
//     bottom: 0 !important; /* Force position at the bottom */
//   }


:host ::ng-deep .mat-form-field-suffix {
    margin-top: 16px !important;
    float: right !important;
    position: absolute !important;
    right: 10px !important;
}

:host ::ng-deep .mat-form-field-infix {
    width: 100% !important;
    border-top: 0px !important;
    padding: 0 !important;
    padding-bottom: 0px !important;
}

:host ::ng-deep .mat-form-field {
    line-height: 0 !important;
    width: 100% !important;
}

:host ::ng-deep .mat-form-field-underline {
    width: 0px !important;
}

:host ::ng-deep .mat-datepicker-toggle-default-icon {
    width: 2rem !important;
    position: absolute;
    top: 0.8rem;
    right: 0rem;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px !important;
    margin-top: 0px !important;
}

label {
    font-weight: 500 !important;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    height: 0px !important;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
    height: 42px !important;
    font-size: 18px !important;
    background: white !important;
}

:host ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-text-field__input {
    color: #6E6E6E !important;
    padding: unset !important;

}

//   :host ::ng-deep .mat-mdc-form-field-icon-prefix, .mat-mdc-form-field-icon-suffix {
//     margin-right: 10px !important;
//   }

:host ::ng-deep .mat-datepicker-toggle-default-icon {
    right: 1rem !important;
}


::ng-deep .modal-backdrop {
    z-index: 0 !important;
}

::ng-deep .mat-mdc-button {
    font-size: 15px !important;
}


::ng-deep .mat-calendar-body-cell-content {
    font-size: 15px !important;
}

::ng-deep .mat-calendar-body-label {
    font-size: 15px !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
    height: 42px !important;
}

::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    padding: 0px !important;
}

::ng-deep .mat-datepicker-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    box-shadow: 0px 0px 2px 1px;
    border-radius: 10px;
}

.custom-checkbox {
    display: flex;
    align-items: end;
    font-size: 18px;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

/* Create a custom checkbox */
:host ::ng-deep .custom-checkbox .checkbox {
    border-radius: 50%;
    width: 20px !important;
    height: 20px !important;
    border: 2px solid #2B5ECB !important;
    display: inline-block;
    background-color: white;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

/* When checkbox is checked */
:host ::ng-deep .custom-checkbox input:checked+.checkbox {
    background-color: white;
    /* Red color for checked state */
    border-color: #2B5ECB;
}

/* Add a checkmark using the :after pseudo-element */
:host ::ng-deep .custom-checkbox input[type="checkbox"]:checked+.checkbox::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 6px;
    width: 5px;
    height: 10px;
    border: solid #2B5ECB;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.label {
    color: #404047 !important;
    font-size: 18px;
    font-weight: 400 !important;
}

.category {
    display: flex;
    // margin: 20px 0px;
    .no{
        margin-left: 20px;
    }
}