.wrapper {
  height: 100vh;
  .side-bar {
    width: 15%;
    display: inline-block;
  }
  .page-wrapper{
    background: linear-gradient(to bottom, #5a4a59 -9000px, #ffffff 500px);
    position: absolute;
    left: 15%;
    width: 85%;
    height: 100vh;
    display: inline-block;
    // background-color: rgb(159, 226, 247);
    padding: 20px;
  }
}