<footer class="footer1 flex">
    <!-- <h4><span>School Management System</span></h4>
    <p>a product of Voice Snap</p> -->
  
    <div class="card" style="text-align: initial;">
      <span>Copyright © 2023 Voice Snap Services Pvt Ltd</span>
    </div>
  
    <div class="card" style="text-align: end;">
      <a (click)="settings(1)">Terms of Use</a>
      <a (click)="settings(2)">Privacy policy</a>
      <a (click)="settings(3)">About Us</a>
      <a (click)="settings(4)">Contact Us</a>
    </div>
  
  </footer>
