

.footer1 {
    // justify-content: end;
    font-size: 12px;
    font-weight: normal;
    color: #a4a1a1;
    width: 100%;
    padding-top: 4px;
    color: black;
    font-weight: 500;
    position: fixed;
    bottom: 0%;
    a{
        color: #8f8989;
        text-decoration: underline;
        margin-right: 2%;
        letter-spacing: 0px;
        cursor: pointer;
    }
    .card{
        width: 48%;
    }
}
